script var _doc_route = {root_path:"#{doc_route.root_path}",path:"#{doc_route.path}",name_section:"#{doc_route.name_section}",name_chapter:"#{doc_route.name_chapter}"};
include snippets/_header.html
main(class="eq-ui-main")
    case doc_route.path
        when "index"
            include modules/_index.html
        when "color"
            include modules/_color.html
        when "helpers"
            include modules/_helpers.html
        when "table"
            include modules/_table.html
        when "typography"
            include modules/_typography.html
        when "buttons"
            include modules/_buttons.html
        when "cards"
            include modules/_cards.html
        when "list"
            include modules/_list.html
        when "forms"
            include modules/_forms.html
        when "form-validation"
            include modules/_form-validation.html
        when "collapsible"
            include modules/_collapsible.html
        when "dropdown"
            include modules/_dropdown.html
        when "modals"
            include modules/_modals.html
        when "tabs"
            include modules/_tabs.html
        when "showcase"
            include modules/_showcase.html
        default
            include modules/_index.html
    include snippets/_footer.html