include snippets/_header.html
main(class="eq-ui-main")
	case layout_content
		when "index"
			include modules/_index.html
		when "color"
			include modules/_color.html
		when "helpers"
			include modules/_helpers.html
		when "typography"
			include modules/_typography.html
		default
			include modules/_index.html
	include snippets/_footer.html