- var doc_route = {root_path:"components",path:"badges",name_section:"Components",name_chapter:"Badges"}

doctype html
html(lang="en")
	head
		include _head.jade
	body(class="#{def_class_body}")
		include _layout_default.jade
		include snippets/_scripts.html