- var doc_route = {root_path:"exentriq",path:"cardnew",name_section:"Exentriq",name_chapter:"Card App"}

doctype html
html(lang="en")
	head
		include _head.jade
	body(class="#{def_class_body}")
		include _layout_default.jade
		include snippets/_scripts.html