- var doc_route = {root_path:"java-script",path:"dropdown",name_section:"JavaScript",name_chapter:"Dropdown"}

doctype html
html(lang="en")
	head
		include _head.jade
	body(class="#{def_class_body}")
		include _layout_default.jade
		include snippets/_scripts.html