- var doc_route = {root_path:"css",path:"icons",name_section:"Layout",name_chapter:"Icons"}

doctype html
html(lang="en")
	head
		include _head.jade
	body(class="#{def_class_body}")
		include _layout_default.jade
		include snippets/_scripts.html
