- var layout_content = "index"
- var page = "Home"

doctype html
html(lang="en")
	head
		include _head.jade
	body(class="#{def_class_body}")
		include _layout_default.jade
		include snippets/_scripts.html