- var doc_route = {root_path:"css",path:"spacing-methods",name_section:"Layout",name_chapter:"Spacing Methods"}

doctype html
html(lang="en")
	head
		include _head.jade
	body(class="#{def_class_body}")
		include _layout_default.jade
		include snippets/_scripts.html
