- var doc_route = {root_path:"css",path:"table",name_section:"CSS",name_chapter:"Table"}

doctype html
html(lang="en")
	head
		include _head.jade
	body(class="#{def_class_body}")
		include _layout_default.jade
		include snippets/_scripts.html