- var doc_route = {root_path:"exentriq",path:"tablenew",name_section:"Exentriq",name_chapter:"Table App"}

doctype html
html(lang="en")
	head
		include _head.jade
	body(class="#{def_class_body}")
		include _layout_default.jade
		include snippets/_scripts.html