@charset "UTF-8";

// Lib
@import "exentriq-bootstrap-material-ui";

body {
    
}

.jumbotron.home {
	text-align: center;
}

.jumbotron.home p>a+a{
	margin-left: 16px;
}

/* Promo */
.promo {
	text-align: center;
	i {
		margin: 40px 0;
	    color: $eq-ui-primary-color;
	    display: block;
	}
}
