/* Breadcrumb */

.eq-ui-breadcrumb {
    display: inline-block;
    position: relative;
    line-height: inherit;
    float: left;

    .eq-ui-breadcrumb-item {
        display: inline-block;
        position: relative;
        line-height: inherit;
        color: inherit;
        font-size: 20px;
        text-decoration: none;
        float: left;

        &:not(.eq-ui-breadcrumb-item-hide):not(:first-of-type):after {
            font: normal normal normal 24px / 1 "Material Design Icons";
            @extend .mdi-chevron-right:before;
            line-height: inherit;
            margin: 0 4px;
            float: left;
        }

        &.eq-ui-breadcrumb-item-hide {
            display: none;
        }

        &.eq-ui-breadcrumb-item-truncate {
            @extend .truncate;
            float: none;
        }
    }

    // Hide first divider
    .eq-ui-breadcrumb-item-hide + .eq-ui-breadcrumb-item {

        &:after {
            content: "";
            display: none;
        }
    }

    // First min
    .eq-ui-breadcrumb-item.eq-ui-breadcrumb-item-hide.eq-ui-breadcrumb-item-min {
        display: inline-block;

        span {
            display: none;
        }

        &:after {
            display: inline-block;
            font: normal normal normal 24px / 1 "Material Design Icons";
            @extend .mdi-arrow-left:before;
            line-height: inherit;
            margin: 0 4px;
            float: left;
        }

        + .eq-ui-breadcrumb-item {
            @extend .truncate;
            float: none;

            span {
                @extend .truncate;
                float: none;
            }
        }
    }
}
