/* Vars */


// Layout header
.eq-ui-layout-header, .eq-ui-layout-header-primary {
    position: relative;
    @extend .z-depth-1;
	z-index: $eq-ui-zindex-app-bar;
	padding-left: $eq-ui-side-nav-width;

	@include eq-ui-transition(padding-left);

    .container-fluid {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header-title {
        font-size: 20px;
        .section-title {
            float: left;
        }
        i {
            margin: 0 10px;
        }
        .chapter-title {
            float: left;
        }
    }
}

body.eq-ui-layout-header-fixed .eq-ui-layout-header, .eq-ui-layout-header-primary {
	display: block;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    min-height: 48px;
}

// Primary app bar
.eq-ui-layout-header-primary {
    padding-left: 0;
    box-shadow: none;
    border-bottom: 1px solid #e1e1e1;
    z-index: $eq-ui-zindex-app-bar-primary;

    display: block;
}

body.eq-ui-side-nav-hide .eq-ui-layout-header  {
    padding-left: 0;
}

@media (max-width: $screen-sm-min) {
	.eq-ui-layout-header  {
		padding-left: 0;
	}
}
