// System bar

.eq-ui-tool-bar-system {
    position: relative;
    color: $eq-ui-tool-bar-system-font-color;
    background-color: $eq-ui-tool-bar-system-bg-color;
    height: $eq-ui-tool-bar-system-height;
    line-height: $eq-ui-tool-bar-system-height;

    .header-title {
        font-size: 18px;
    }

    &.eq-ui-tool-bar-system-inverted {
        color: $eq-ui-tool-bar-system-font-color-inverted;
        background-color: $eq-ui-tool-bar-system-bg-color-inverted;
    }
}

@media (max-width: $screen-sm-min) {
	
}
