/* Vars */


// Tool bar
.eq-ui-tool-bar {
    color: $eq-ui-tool-bar-font-color;
    background-color: $eq-ui-tool-bar-bg-color;
    height: $eq-ui-tool-bar-height;
    line-height: $eq-ui-tool-bar-height;
}

@media (max-width: $screen-sm-min) {
	
}
