/* Vars */

// Tool bar
.eq-ui-tool-bar, .eq-ui-tool-bar-primary  {
    position: relative;
    color: $eq-ui-tool-bar-font-color;
    background-color: $eq-ui-tool-bar-bg-color;
    height: $eq-ui-tool-bar-height;
    line-height: $eq-ui-tool-bar-height;
}

// Tool bar primary
.eq-ui-tool-bar-primary {

}

@media (max-width: $screen-sm-min) {
	
}
