    
    <div class="jumbotron">
        <div class="container">
            <h1>Collapsible</h1>
            <p>Collapsibles are accordion elements that expand when clicked on. They allow you to hide content that is not immediately relevant to the user.</p>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <h2 class="header">Accordion</h2>
                <p>Basic collapsible.</p>

                <ul class="eq-ui-collapsible" data-collapsible="accordion">
                    <li>
                        <div class="eq-ui-collapsible-header active">
                            <a><i class="mdi mdi-image-filter-drama icon icon-left icon-24"></i>Collapsible #1</a>
                        </div>
                        <div class="eq-ui-collapsible-body">
                            <div class="eq-ui-collapsible-body-inner">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="eq-ui-collapsible-header">
                            <a><i class="mdi mdi-map-marker icon icon-left icon-24"></i>Collapsible #2</a>
                        </div>
                        <div class="eq-ui-collapsible-body">
                            <div class="eq-ui-collapsible-body-inner">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="eq-ui-collapsible-header">
                            <a><i class="mdi mdi-fire icon icon-left icon-24"></i>Collapsible #3</a>
                        </div>
                        <div class="eq-ui-collapsible-body">
                            <div class="eq-ui-collapsible-body-inner">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee.
                            </div>
                        </div>
                    </li>
                </ul>

                <pre><code class="language-markup">
&lt;ul class=&quot;eq-ui-collapsible&quot; data-collapsible=&quot;accordion&quot;&gt;
    &lt;li&gt;
        &lt;div class=&quot;eq-ui-collapsible-header active&quot;&gt;
            &lt;a&gt;&lt;i class=&quot;mdi mdi-image-filter-drama icon icon-left icon-24&quot;&gt;&lt;/i&gt;Collapsible #1&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;eq-ui-collapsible-body&quot;&gt;
            &lt;div class=&quot;eq-ui-collapsible-body-inner&quot;&gt;
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee.
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;div class=&quot;eq-ui-collapsible-header&quot;&gt;
            &lt;a&gt;&lt;i class=&quot;mdi mdi-map-marker icon icon-left icon-24&quot;&gt;&lt;/i&gt;Collapsible #2&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;eq-ui-collapsible-body&quot;&gt;
            &lt;div class=&quot;eq-ui-collapsible-body-inner&quot;&gt;
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee.
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;div class=&quot;eq-ui-collapsible-header&quot;&gt;
            &lt;a&gt;&lt;i class=&quot;mdi mdi-fire icon icon-left icon-24&quot;&gt;&lt;/i&gt;Collapsible #3&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;eq-ui-collapsible-body&quot;&gt;
            &lt;div class=&quot;eq-ui-collapsible-body-inner&quot;&gt;
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee.
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/li&gt;
&lt;/ul&gt;</code></pre>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <h2 class="header">Popout</h2>
                <p>For create collapsible popout add the class <code class="language-markup">popout</code>.</p>

                <ul class="eq-ui-collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="eq-ui-collapsible-header">
                            <a><i class="mdi mdi-image-filter-drama icon icon-left icon-24"></i>Collapsible #1</a>
                        </div>
                        <div class="eq-ui-collapsible-body">
                            <div class="eq-ui-collapsible-body-inner">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="eq-ui-collapsible-header active">
                            <a><i class="mdi mdi-map-marker icon icon-left icon-24"></i>Collapsible #2</a>
                        </div>
                        <div class="eq-ui-collapsible-body">
                            <div class="eq-ui-collapsible-body-inner">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="eq-ui-collapsible-header">
                            <a><i class="mdi mdi-fire icon icon-left icon-24"></i>Collapsible #3</a>
                        </div>
                        <div class="eq-ui-collapsible-body">
                            <div class="eq-ui-collapsible-body-inner">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee.
                            </div>
                        </div>
                    </li>
                </ul>

                <pre><code class="language-markup">
&lt;ul class=&quot;eq-ui-collapsible popout&quot; data-collapsible=&quot;accordion&quot;&gt;
...</code></pre>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <h2 class="header">Expandable</h2>
                <p>For create collapsible expandable add in the data-collapsible <code class="language-markup">expandable</code>.</p>

                <ul class="eq-ui-collapsible" data-collapsible="expandable">
                    <li>
                        <div class="eq-ui-collapsible-header">
                            <a><i class="mdi mdi-image-filter-drama icon icon-left icon-24"></i>Collapsible #1</a>
                        </div>
                        <div class="eq-ui-collapsible-body">
                            <div class="eq-ui-collapsible-body-inner">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="eq-ui-collapsible-header">
                            <a><i class="mdi mdi-map-marker icon icon-left icon-24"></i>Collapsible #2</a>
                        </div>
                        <div class="eq-ui-collapsible-body">
                            <div class="eq-ui-collapsible-body-inner">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="eq-ui-collapsible-header">
                            <a><i class="mdi mdi-fire icon icon-left icon-24"></i>Collapsible #3</a>
                        </div>
                        <div class="eq-ui-collapsible-body">
                            <div class="eq-ui-collapsible-body-inner">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee.
                            </div>
                        </div>
                    </li>
                </ul>

                <pre><code class="language-markup">
&lt;ul class=&quot;eq-ui-collapsible&quot; data-collapsible=&quot;expandable&quot;&gt;
...</code></pre>

            </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 id="pin-vue-collapsible" class="header">Dynamic Initialization (Vue Example)</h2>
            <p>Rest Mockup Data</p>

            <div id="vue-collapsible">
              <section v-if="errored">
                <p>We're sorry, we're not able to retrieve this data at the moment, please try back later</p>
              </section>

              <section v-else>
                <section v-if="loading" style="height: 100px; position: relative;">
                  <div class='eq-ui-loader-ring_for_material-mini' style="position: absolute; margin: 0; top: 25%; left: 50%;">
                    <div class='eq-ui-loader-ring-light-mini'></div>
                    <div class='eq-ui-loader-ring-track-mini'></div>
                  </div>
                </section>

                <section v-else>

                  <ul class="eq-ui-collapsible" data-collapsible="accordion">
                    <li v-for="post in posts" v-bind:key="post.id">
                      <div class="eq-ui-collapsible-header active">
                        <a><i class="mdi mdi-image-filter-drama icon icon-left icon-24"></i>Collapsible #{{ post.id+1 }}</a>
                      </div>
                      <div class="eq-ui-collapsible-body">
                        <div class="eq-ui-collapsible-body-inner">
                          <ul class="eq-ui-list" style="display:block;">
                            <li class="eq-ui-list-item">{{ post.model }}</li>
                            <li class="eq-ui-list-item">{{ post.quantity | currencydecimal }}</li>
                            <li class="eq-ui-list-item">{{ post.price }}</li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>

                </section>
              </section>
            </div>

          </div>
        </div>

    </div>
