body {
    
}

/* Home */
.jumbotron.home {
	text-align: center;
}
.jumbotron.home .getting-started {
	text-align: right;
}
.jumbotron.home .source-in-git-hub {
	text-align: left;
}
@media (max-width: 768px){
	.jumbotron.home .getting-started,
	.jumbotron.home .source-in-git-hub {
		text-align: center;
	}
}

/* Promo */
.promo {
    text-align: center;
}
.promo > i {
    margin: 20px 0;
    line-height: 128px;
    display: block;
}
.promo > p {
    font-weight: 300;
}
