@import url("https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css");
@import url("https://rawgit.com/marvelapp/devices.css/master/assets/devices.min.css");

body {

}

/* Layout */
*:not(body).doc-show-in-layout-struture-1 {
    display: none;
}

body.doc-show-in-layout-struture-1 .doc-show-in-layout-struture-1 {
    display: block;
}

/* Home */
.jumbotron.home {
	text-align: center;
}
.jumbotron.home .getting-started {
	text-align: right;
}
.jumbotron.home .source-in-git-hub {
	text-align: left;
}
p.last-commit-in-git-hub-p {
    font-weight: 300;
}
.last-commit-in-git-hub, .last-commit-in-git-hub:hover {
    text-decoration: none;
}
@media (max-width: 768px){
	.jumbotron.home .getting-started,
	.jumbotron.home .source-in-git-hub {
		text-align: center;
	}
}

/* Notifications modal */
#eq-ui-modal-header-doc-1 {
    width: 360px;
}

@media (max-width: 480px){
    #eq-ui-modal-header-doc-1 {
        width: 320px;
    }
}

#eq-ui-modal-header-doc-1 .eq-ui-modal-header {
    background-color: #fff;
}

#eq-ui-modal-header-doc-1 .eq-ui-modal-header {
    padding-left: 16px;
    padding-right: 10px;
}

#eq-ui-modal-header-doc-1 .section-title {
    font-size: 20px;
}

#eq-ui-modal-header-doc-1 .eq-ui-modal-content {
    background-color: #fff;
    padding: 0;
}

#eq-ui-modal-header-doc-1 .eq-ui-modal-content .eq-ui-list {
    border: none;
    border-radius: 0;
}

#eq-ui-modal-header-doc-1 .eq-ui-modal-footer {
    background-color: #fff;
    text-align: center;
}

#eq-ui-modal-header-doc-1 .eq-ui-modal-footer a {
    float: none;
}

/* Promo */
.promo {
    text-align: center;
}
.promo > i {
    margin: 20px 0;
    line-height: 128px;
    display: block;
}
.promo > p {
    font-weight: 300;
}

/* Helpers */
.valign-demo {
	padding: 24px;
	height: 500px;
}
.valign-demo h3 {
	width: 100%;
}

/* Cards -> Head Image */
.doc-card-head-image .eq-ui-card-title {
    color: #fff;
    height: 176px;
    background: url('../img/doc/welcome_card.jpg') center / cover;
}
.doc-card-head-image .eq-ui-card-menu i {
    color: #fff;
}

/* Cards -> Image */
.doc-card-image {
    width: 256px;
    height: 256px;
	background: url('../img/doc/image_card.jpg') center / cover;
}

/* Cards -> Event */
.doc-card-event {
    width: 256px;
    height: 256px;
}

/* Forms */
.doc-form {
	margin-bottom: 25px;
}

.doc-form .eq-ui-search-expandable {
    float: right;
}

/* Dropdown */
.doc-eq-ui-card-dropdown {
    min-height: 250px;
    overflow: visible;
}
.doc-eq-ui-card-dropdown-bottom .eq-ui-card-menu {
    bottom: 16px;
    top: auto;
}
.doc-eq-ui-card-dropdown-left .eq-ui-card-menu {
    left: 16px;
    right: auto;
}

/* Tabs */
.doc-tabs {
    background-color: #f5f5f5;
    height: 64px;
}
.doc-tabs .eq-ui-card-supporting-text {
    padding: 0 24px;
    line-height: 0;
    height: 100%;
}
.doc-tabs.doc-tabs-not-padding .eq-ui-card-supporting-text {
    padding: 0;
}

/* Helps */
.doc-margin-bottom {
	margin-bottom: 25px;
}

/* Drop zone */
.doc-drop-zone-message {
    text-align: center;
    font-weight: 500;
    color: #4e4e4e;
}
.doc-drop-zone-message .doc-drop-zone-message-browse {
    font-weight: 400;
}
.doc-drop-zone-message .doc-drop-zone-message-browse-link {
    text-decoration: underline;
}

/* Badges */
.doc-badge-icon {
    line-height: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 10px;
}
.doc-badge-text {
    line-height: 28px;
}

/* Tables */
.table-fixed-col-100 {
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    flex-basis: 100px !important;
}

/* Media */
@media only screen and (max-width: 768px) {
    .eq-ui-app-bar .header-title span,
    .eq-ui-app-bar .header-title i {
        display: none;
    }
    .eq-ui-app-bar .header-title span:last-of-type {
        display: block;
    }
}

/* Wassap Simulate */
.doc-dropdown-auto-layout-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  margin: 40px 0;
  /* Status Bar */
  /* Chat */
  /* User Bar */
  /* Conversation */
  /* Messages */
  /* Compose */
  /* Small Screens */
}
.doc-dropdown-auto-layout-page .marvel-device .screen {
  text-align: left;
}
.doc-dropdown-auto-layout-page .screen-container {
  height: 100%;
}
.doc-dropdown-auto-layout-page .status-bar {
  height: 25px;
  background: #004e45;
  color: #fff;
  font-size: 14px;
  padding: 0 8px;
}
.doc-dropdown-auto-layout-page .status-bar:after {
  content: "";
  display: table;
  clear: both;
}
.doc-dropdown-auto-layout-page .status-bar div {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0 0 8px;
  font-weight: 600;
}
.doc-dropdown-auto-layout-page .chat {
  height: calc(100% - 69px);
}
.doc-dropdown-auto-layout-page .chat-container {
  height: 100%;
}
.doc-dropdown-auto-layout-page .user-bar {
  height: 55px;
  background: #005e54;
  color: #fff;
  padding: 0 8px;
  font-size: 24px;
  position: relative;
  z-index: 1;
}
.doc-dropdown-auto-layout-page .user-bar:after {
  content: "";
  display: table;
  clear: both;
}
.doc-dropdown-auto-layout-page .user-bar div {
  float: left;
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}
.doc-dropdown-auto-layout-page .user-bar .actions {
  float: right;
  margin: 0 0 0 20px;
}
.doc-dropdown-auto-layout-page .user-bar .actions.more {
  margin: 0 12px 0 32px;
}
.doc-dropdown-auto-layout-page .user-bar .actions.attachment {
  margin: 0 0 0 30px;
}
.doc-dropdown-auto-layout-page .user-bar .actions.attachment i {
  display: block;
  transform: rotate(-45deg);
}
.doc-dropdown-auto-layout-page .user-bar .avatar {
  margin: 0 0 0 5px;
  width: 36px;
  height: 36px;
}
.doc-dropdown-auto-layout-page .user-bar .avatar img {
  border-radius: 50%;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  display: block;
  width: 100%;
}
.doc-dropdown-auto-layout-page .user-bar .name {
  font-size: 17px;
  font-weight: 600;
  text-overflow: ellipsis;
  letter-spacing: 0.3px;
  margin: 0 0 0 8px;
  overflow: hidden;
  white-space: nowrap;
  width: 110px;
}
.doc-dropdown-auto-layout-page .user-bar .status {
  display: block;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
}
.doc-dropdown-auto-layout-page .conversation {
  height: calc(100% - 12px);
  position: relative;
  background: #efe7dd url("https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg") repeat;
  z-index: 0;
}
.doc-dropdown-auto-layout-page .conversation ::-webkit-scrollbar {
  transition: all 0.5s;
  width: 5px;
  height: 1px;
  z-index: 10;
}
.doc-dropdown-auto-layout-page .conversation ::-webkit-scrollbar-track {
  background: transparent;
}
.doc-dropdown-auto-layout-page .conversation ::-webkit-scrollbar-thumb {
  background: #b3ada7;
}
.doc-dropdown-auto-layout-page .conversation .conversation-container {
  height: calc(100% - 68px);
  /*box-shadow: inset 0 10px 10px -10px #000000;*/
  overflow-x: hidden;
  padding: 0 16px;
  margin-bottom: 5px;
}
.doc-dropdown-auto-layout-page .conversation .conversation-container:after {
  content: "";
  display: table;
  clear: both;
}
.doc-dropdown-auto-layout-page .message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
  /*z-index: -1;*/
}
.doc-dropdown-auto-layout-page .message:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}
.doc-dropdown-auto-layout-page .metadata {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
}
.doc-dropdown-auto-layout-page .metadata .time {
  color: rgba(0, 0, 0, 0.45);
  font-size: 11px;
  display: inline-block;
}
.doc-dropdown-auto-layout-page .metadata .tick {
  display: inline-block;
  margin-left: 2px;
  position: relative;
  top: 4px;
  height: 16px;
  width: 16px;
}
.doc-dropdown-auto-layout-page .metadata .tick svg {
  position: absolute;
  transition: 0.5s ease-in-out;
}
.doc-dropdown-auto-layout-page .metadata .tick svg:first-child {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(180deg);
  transform: perspective(800px) rotateY(180deg);
}
.doc-dropdown-auto-layout-page .metadata .tick svg:last-child {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(0deg);
  transform: perspective(800px) rotateY(0deg);
}
.doc-dropdown-auto-layout-page .metadata .tick-animation svg:first-child {
  -webkit-transform: perspective(800px) rotateY(0);
  transform: perspective(800px) rotateY(0);
}
.doc-dropdown-auto-layout-page .metadata .tick-animation svg:last-child {
  -webkit-transform: perspective(800px) rotateY(-179.9deg);
  transform: perspective(800px) rotateY(-179.9deg);
}
.doc-dropdown-auto-layout-page .message:first-child {
  margin: 16px 0 8px;
}
.doc-dropdown-auto-layout-page .message.received {
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  float: left;
}
.doc-dropdown-auto-layout-page .message.received .metadata {
  padding: 0 0 0 16px;
}
.doc-dropdown-auto-layout-page .message.received:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
}
.doc-dropdown-auto-layout-page .message.sent {
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
  float: right;
}
.doc-dropdown-auto-layout-page .message.sent:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
  top: 0;
  right: -10px;
}
.doc-dropdown-auto-layout-page .conversation-compose {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 50px;
  width: 100%;
  z-index: 2;
}
.doc-dropdown-auto-layout-page .conversation-compose div,
.doc-dropdown-auto-layout-page .conversation-compose input {
  background: #fff;
  height: 100%;
}
.doc-dropdown-auto-layout-page .conversation-compose .emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px 0 0 5px;
  flex: 0 0 auto;
  margin-left: 8px;
  width: 48px;
}
.doc-dropdown-auto-layout-page .conversation-compose .input-msg {
  border: 0;
  flex: 1 1 auto;
  font-size: 16px;
  margin: 0;
  outline: none;
  min-width: 50px;
}
.doc-dropdown-auto-layout-page .conversation-compose .photo {
  flex: 0 0 auto;
  border-radius: 0 0 5px 0;
  text-align: center;
  position: relative;
  width: 48px;
}
.doc-dropdown-auto-layout-page .conversation-compose .photo:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  top: 0;
  right: -10px;
}
.doc-dropdown-auto-layout-page .conversation-compose .photo i {
  display: block;
  color: #7d8488;
  font-size: 24px;
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
}
.doc-dropdown-auto-layout-page .conversation-compose .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
  position: relative;
  outline: none;
}
.doc-dropdown-auto-layout-page .conversation-compose .send .circle {
  background: #008a7c;
  border-radius: 50%;
  color: #fff;
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.doc-dropdown-auto-layout-page .conversation-compose .send .circle i {
  font-size: 24px;
  margin-left: 5px;
}
@media (max-width: 768px) {
  .doc-dropdown-auto-layout-page .marvel-device.nexus5 {
    border-radius: 0;
    flex: none;
    padding: 0;
    max-width: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  .doc-dropdown-auto-layout-page .marvel-device > .screen .chat {
    visibility: visible;
  }
  .doc-dropdown-auto-layout-page .marvel-device {
    visibility: hidden;
  }
  .doc-dropdown-auto-layout-page .marvel-device .status-bar {
    display: none;
  }
  .doc-dropdown-auto-layout-page .screen-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .doc-dropdown-auto-layout-page .conversation {
    height: calc(100vh - 55px);
  }
  .doc-dropdown-auto-layout-page .conversation .conversation-container {
    height: calc(100vh - 120px);
  }
}

.doc-dropdown-auto-layout-page .message-menu-option {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
}

.doc-dropdown-auto-layout-page .message-menu-option > a {
  line-height: 18px;
  height: 18px;
  display: block;
  position: relative;
}
/* END - Wassap Simulate */
