body {

}

/* Layout */
*:not(body).doc-show-in-layout-struture-1 {
    display: none;
}

body.doc-show-in-layout-struture-1 .doc-show-in-layout-struture-1 {
    display: block;
}

/* Home */
.jumbotron.home {
	text-align: center;
}
.jumbotron.home .getting-started {
	text-align: right;
}
.jumbotron.home .source-in-git-hub {
	text-align: left;
}
p.last-commit-in-git-hub-p {
    font-weight: 300;
}
.last-commit-in-git-hub, .last-commit-in-git-hub:hover {
    text-decoration: none;
}
@media (max-width: 768px){
	.jumbotron.home .getting-started,
	.jumbotron.home .source-in-git-hub {
		text-align: center;
	}
}

/* Notifications modal */
#eq-ui-modal-header-doc-1 {
    width: 360px;
}

@media (max-width: 480px){
    #eq-ui-modal-header-doc-1 {
        width: 320px;
    }
}

#eq-ui-modal-header-doc-1 .eq-ui-modal-header {
    background-color: #fff;
}

#eq-ui-modal-header-doc-1 .eq-ui-modal-header {
    padding-left: 16px;
    padding-right: 10px;
}

#eq-ui-modal-header-doc-1 .section-title {
    font-size: 20px;
}

#eq-ui-modal-header-doc-1 .eq-ui-modal-content {
    background-color: #fff;
    padding: 0;
}

#eq-ui-modal-header-doc-1 .eq-ui-modal-content .eq-ui-list {
    border: none;
    border-radius: 0;
}

#eq-ui-modal-header-doc-1 .eq-ui-modal-footer {
    background-color: #fff;
    text-align: center;
}

#eq-ui-modal-header-doc-1 .eq-ui-modal-footer a {
    float: none;
}

/* Promo */
.promo {
    text-align: center;
}
.promo > i {
    margin: 20px 0;
    line-height: 128px;
    display: block;
}
.promo > p {
    font-weight: 300;
}

/* Helpers */
.valign-demo {
	padding: 24px;
	height: 500px;
}
.valign-demo h3 {
	width: 100%;
}

/* Cards -> Head Image */
.doc-card-head-image .eq-ui-card-title {
    color: #fff;
    height: 176px;
    background: url('../img/doc/welcome_card.jpg') center / cover;
}
.doc-card-head-image .eq-ui-card-menu i {
    color: #fff;
}

/* Cards -> Image */
.doc-card-image {
    width: 256px;
    height: 256px;
	background: url('../img/doc/image_card.jpg') center / cover;
}

/* Cards -> Event */
.doc-card-event {
    width: 256px;
    height: 256px;
}

/* Forms */
.doc-form {
	margin-bottom: 25px;
}

.doc-form .eq-ui-search-expandable {
    float: right;
}

/* Dropdown */
.doc-eq-ui-card-dropdown {
    min-height: 250px;
    overflow: visible;
}
.doc-eq-ui-card-dropdown-bottom .eq-ui-card-menu {
    bottom: 16px;
    top: auto;
}
.doc-eq-ui-card-dropdown-left .eq-ui-card-menu {
    left: 16px;
    right: auto;
}

/* Tabs */
.doc-tabs {
    background-color: #f5f5f5;
    height: 64px;
}
.doc-tabs .eq-ui-card-supporting-text {
    padding: 0 24px;
    line-height: 0;
    height: 100%;
}
.doc-tabs.doc-tabs-not-padding .eq-ui-card-supporting-text {
    padding: 0;
}

/* Helps */
.doc-margin-bottom {
	margin-bottom: 25px;
}

/* Drop zone */
.doc-drop-zone-message {
    text-align: center;
    font-weight: 500;
    color: #4e4e4e;
}
.doc-drop-zone-message .doc-drop-zone-message-browse {
    font-weight: 400;
}
.doc-drop-zone-message .doc-drop-zone-message-browse-link {
    text-decoration: underline;
}

/* Badges */
.doc-badge-icon {
    line-height: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 10px;
}
.doc-badge-text {
    line-height: 28px;
}

/* Media */
@media only screen and (max-width: 768px) {
    .eq-ui-app-bar .header-title span,
    .eq-ui-app-bar .header-title i {
        display: none;
    }
    .eq-ui-app-bar .header-title span:last-of-type {
        display: block;
    }
}
