p.grid-legend{

  margin-bottom:16px;

  &:lastChild{
    margin-bottom:0px;
  }

  span.number-round-green{
    background-color: #1bbc9b;
    padding: 5px 15px;
    color:#fff;
    font-size: 26px;
    border-radius: 100%;
  }
}
