// Modal

.eq-ui-modal {
    @extend .z-depth-4;

    display: none;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;

    background-color: #fafafa;
    border-radius: 2px;
    will-change: top, opacity;

    overflow-x: hidden;
    overflow-y: auto;

    @extend .eq-ui-scrollbar-y;

    // Sizes
    &.eq-ui-modal-small {
        width: 360px;

        @media (max-width: $screen-sm-min){
            width: 80%;
        }
    }
    &.eq-ui-modal-medium {
        width: 720px;

        @media (max-width: $screen-sm-min){
            width: 80%;
        }
    }

    @media (max-width: $screen-sm-min){
        width: 80%;
    }

    // Header
    .eq-ui-modal-header {
        position: relative;
        display: block;
        min-height: $modals-header-height;
        line-height: $modals-header-height;
        width: 100%;
        padding: 0 24px;

        .header-title {
            font-size: 24px;
            .section-title {
                float: left;
            }
        }
    }

    // Content
    .eq-ui-modal-content {
        position: relative;
        width: 100%;
        padding: 24px;
    }

    // Footer
    .eq-ui-modal-footer {
        position: relative;
        width: 100%;
        min-height: $modals-footer-height + 16;
        line-height: $modals-footer-height;
        padding: 8px 16px;

        border-radius: 0 0 2px 2px;
        background-color: #fafafa;

        .btn {
            float: right;
            padding: 0 8px;
        }
    }

    // Reset
    h1,h2,h3,h4,h5,h6 {
        margin-top: 0;
    }

    // Close
    .eq-ui-modal-close {
        cursor: pointer;
    }

    // Top close
    .eq-ui-modal-top-close {
        position: fixed;
        right: 0;
        top: -36px;
        i {
            color: #fff;
            margin-right: 2px;
        }
    }
}



// Modal with fixed header and footer

.eq-ui-modal.eq-ui-modal-fixed {
    height: 70%;

    // Header
    .eq-ui-modal-header {
        position: absolute;
        border-bottom: 1px solid $modals-line-color;
    }

    .eq-ui-modal-content {
        position: absolute;
        width: 100%;

        height: calc(100% - 53px);

        overflow-y: auto;
        overflow-x: hidden;

        @extend .eq-ui-scrollbar-y;
    }

    .eq-ui-modal-footer {
        position: absolute;
        min-height: $modals-footer-height + 16 + 1;
        bottom: 0;
        border-top: 1px solid $modals-line-color;
    }

    // Header Active
    .eq-ui-modal-header {
        &+.eq-ui-modal-content {
            margin-top: $modals-header-height + 1;
            height: calc(100% - 118px);
        }
    }

    // Without Footer
    &.eq-ui-modal-without-footer {
        .eq-ui-modal-header {
            &+.eq-ui-modal-content {
                height: calc(100% - 65px);
            }
        }
    }
}

// Modal Top, Bottom, Left, Right and Full Sheet Style

.eq-ui-modal {

    // Modal Top
    &.eq-ui-modal-top-sheet {
        top: -100%;
        bottom: auto;
        margin: 0;
        width: 100%;
        max-height: 45%;
        border-radius: 0;
        will-change: bottom, opacity;
    }

    // Modal Bottom
    &.eq-ui-modal-bottom-sheet {
        top: auto;
        bottom: -100%;
        margin: 0;
        width: 100%;
        max-height: 45%;
        border-radius: 0;
        will-change: bottom, opacity;
    }

    // Modal Left
    &.eq-ui-modal-left-sheet {
        right: auto;
        left: -100%;
        top: 0;
        bottom: 0;
        margin: 0;
        width: 320px;
        max-height: 100%;
        height: 100%;
        border-radius: 0;
        will-change: left, opacity;
    }

    // Modal Right
    &.eq-ui-modal-right-sheet {
        left: auto;
        right: -100%;
        top: 0;
        bottom: 0;
        margin: 0;
        width: 320px;
        max-height: 100%;
        height: 100%;
        border-radius: 0;
        will-change: right, opacity;
    }

    // Modal Full
    &.eq-ui-modal-full-sheet {
        top: -100%;
        bottom: 0;
        margin: 0;
        width: 100%;
        max-height: 100%;
        height: 100%;
        border-radius: 0;
        will-change: bottom, opacity;
    }
}

// Modal Overlay

.eq-ui-modal-overlay {
    position: fixed;
    z-index:999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;

    will-change: opacity;
}



@media(max-width:768px){

    .eq-ui-modal.eq-ui-modal-fixed-mobile {
        height: 100%;

        // Header
        .eq-ui-modal-header {
            position: absolute;
            border-bottom: 1px solid $modals-line-color;
        }

        .eq-ui-modal-content {
            position: absolute;
            width: 100%;

            height: calc(100% - 53px);

            overflow-y: auto;
            overflow-x: hidden;

        }

        .eq-ui-modal-footer {
            position: absolute;
            min-height: $modals-footer-height + 16 + 1;
            bottom: 0;
            border-top: 1px solid $modals-line-color;
        }

        // Header Active
        .eq-ui-modal-header {
            & + .eq-ui-modal-content {
                margin-top: $modals-header-height + 1;
                height: calc(100% - 118px);
            }
        }

        // Without Footer
        &.eq-ui-modal-without-footer {
            .eq-ui-modal-header {
                & + .eq-ui-modal-content {
                    height: calc(100% - 65px);
                }
            }
        }
    }

    .eq-ui-modal-full-sheet-mobile {
        top: 0% !important;
        bottom: 0;
        margin: 0;
        width: 100%;
        max-height: 100%;
        height: 100%;
        border-radius: 0;
        will-change: bottom, opacity;
    }
    .eq-ui-modal-small.eq-ui-modal.eq-ui-modal-full-sheet-mobile,
    .eq-ui-modal-medium.eq-ui-modal.eq-ui-modal-full-sheet-mobile
    {
        height: 100%;
        width: 100%;
    }
}
