// Nav Menu

.eq-ui-nav-menu {
    margin: 0;
    padding: 0;
    height: $eq-ui-tool-bar-height;

    >li {
        position: relative;
        color: inherit;
        margin-right: 16px;
        line-height: inherit;
        float: left;

        &:last-child {
            margin-right: 0;
        }

        >a {
            display: block;
            color: inherit;
            line-height: inherit;


            &:hover {
              color: inherit;
              text-decoration: none;
            }


        }
    }
    li.last-item-before-mobile{
      margin-right:0px;
    }

    // Item with icon
    >li.eq-ui-nav-menu-item-icon {

        >a {
            line-height: 32px;
            margin: (($eq-ui-tool-bar-height - 36px)/2) 0;
        }
      a.eq-ui-btn-fab{
        width: 36px;
        min-width: 36px;
        height: 36px;

        i{
          line-height: 36px;
        }}
    }
}

// In system bar
.eq-ui-tool-bar-system {
    .eq-ui-nav-menu {
        height: $eq-ui-tool-bar-system-height;

        // Item with icon
        >li.eq-ui-nav-menu-item-icon {

            >a {
                line-height: 32px;
                margin: (($eq-ui-tool-bar-system-height - 32px)/2) 0;

            }
        }
    }
}
