// Table

table {
	width:100%;
	display: table;

	&.eq-ui-data-table {
		position: relative;
		border: $table-border;
		border-collapse: collapse;
		white-space: nowrap;
		background-color: #fff; 

		// Header
		thead {
			padding-bottom: 3px;

			tr {

				th {
					font-size: $eq-ui-font-size-base - 1;
					color: rgba(0, 0, 0, .54);
					text-overflow: ellipsis;
					line-height: 24px;
					letter-spacing: 0;
					border-bottom: none;
					&.eq-ui-data-table-sort-column{
						cursor: pointer;
						i{
							vertical-align: middle;
							margin-left: 8px;
							font-size: 22px;
						}
					}
				}
			}
		}

		// Body
		tbody {

			tr {
				position: relative;
				height: $row-height;

				td {
                    display: table-cell;
                    border-top: $table-border;
					border-bottom: $table-border;
                    white-space: nowrap;

                    // Truncate
                    &.eq-ui-data-table-cell-truncate {
                        max-width:1px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
				}
			}
		}

		// Common options
		thead tr th, tbody tr td {
			position: relative;
			font-weight: 400;
			text-align: right;
			height: $row-height;
			padding: 12px 18px 0;
			box-sizing: border-box;
			vertical-align: top;

			&:first-of-type {
				padding-left: 24px;
			}
			&:last-of-type {
				padding-right: 24px;
			}

			// Extra options
			&.eq-ui-data-table-cell-non-numeric {
				text-align: left;
			}
		}

		// With Checkbox
		&.eq-ui-with-checkbox {
			thead tr th, tbody tr td {

                &:first-of-type {
                    text-align: left;
                    width: 45px;
                }

                input[type=checkbox] + label {
                    padding: 0;
                    margin: 0;
                    height: 20px;
                    width: 20px;
                    vertical-align: top;
                    margin-top: 1px;
                    border-color: transparent;

                    &:not(:checked) + label:after {
                        height: 20px;
                        width: 20px;
                        background-color: transparent;
                        border: 2px solid $radio-empty-color;
                        top: 0;
                        z-index: 0;
                    }
                }

                input[type=checkbox].filled-in:not(:checked) + label:after {
                    border: 2px solid rgba(0, 0, 0, .54);
                }
			}
		}

		// Striped
		&.eq-ui-striped > tbody {
			> tr:nth-child(odd) {
				background-color: lighten($table-striped-color, 2.1%);
			}
		}

		// Hoverable
		&.eq-ui-hoverable > tbody > tr {
			@include eq-ui-transition(background-color);
			&:hover {
				background-color: $table-striped-color;
			}
		}

		// Centered
		&.eq-ui-centered {
			thead tr th, tbody tr td {
				text-align: center;
			}
		}

		// Header fixed
		&.eq-ui-header-fixed, &.eq-ui-data-table-lazy-load {
			display: flex;
			flex-flow: column;

			thead {
				display: block;
				padding-bottom: 0;

				> tr {
					display: flex;

					>th {
						flex: 1;
					}
				}
			}

			tbody {
				display: block;
				height: 144px;
				overflow-y: auto;
				-webkit-overflow-scrolling: touch;

				@extend .eq-ui-scrollbar;
				&::-webkit-scrollbar {
					width: 6px;
				}

				> tr {
					display: flex;

					>td {
						flex: 1;
						border-bottom: none;
						min-width: 1px;
					}
				}
			}
		}

		// Lazy Load
		&.eq-ui-data-table-lazy-load {

		}

        // Is selected
        tbody > tr.is-selected {
            @include eq-ui-transition(background-color);
            background-color: transparentize($eq-ui-secondary-color, .95);
        }

	}
}

// Sticky Table

.eq-ui-sticky-table-cloned {
	top:0;
	position:fixed !important;
	width:auto;
	display:none;
	border:none !important;
	box-shadow: none !important;
}

.eq-ui-sticky-table-cloned thead {
	border-bottom: 1px solid rgba(0,0,0,.06);
}