/* --------------------------------------- */
/* Typography                              */
/* --------------------------------------- */

a {
	text-decoration: none;
}

html {
	line-height: $eq-ui-line-height-base;

	@media only screen and (min-width: 0) {
		font-size: $eq-ui-font-size-base - 1;
	}

	@media only screen and (min-width: $screen-sm-min) {
		font-size: $eq-ui-font-size-base - 0.5;
	}

	@media only screen and (min-width: $screen-lg-min) {
		font-size: $eq-ui-font-size-base;
	}

	font-family: $eq-ui-font-family-sans-serif;
	font-weight: normal;
	color: $eq-ui-text-color;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
}

/*** Header Styles ***/
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: $eq-ui-h1-fontsize; line-height: 110%; margin: ($eq-ui-h1-fontsize / 2) 0 ($eq-ui-h1-fontsize / 2.5) 0;}
h2 { font-size: $eq-ui-h2-fontsize; line-height: 110%; margin: ($eq-ui-h2-fontsize / 2) 0 ($eq-ui-h2-fontsize / 2.5) 0;}
h3 { font-size: $eq-ui-h3-fontsize; line-height: 110%; margin: ($eq-ui-h3-fontsize / 2) 0 ($eq-ui-h3-fontsize / 2.5) 0;}
h4 { font-size: $eq-ui-h4-fontsize; line-height: 110%; margin: ($eq-ui-h4-fontsize / 2) 0 ($eq-ui-h4-fontsize / 2.5) 0;}
h5 { font-size: $eq-ui-h5-fontsize; line-height: 110%; margin: ($eq-ui-h5-fontsize / 2) 0 ($eq-ui-h5-fontsize / 2.5) 0;}
h6 { font-size: $eq-ui-h6-fontsize; line-height: 110%; margin: ($eq-ui-h6-fontsize / 2) 0 ($eq-ui-h6-fontsize / 2.5) 0;}

/*** Text Styles ***/
em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }

/* --------------------------------------- */
/* Tools Custom ANDR                       */
/* --------------------------------------- */

.eq-ui-tool-bar .eq-ui-tool-bar-cont-tab
{
  height: 50px !important;
}



/* --------------------------------------- */
/* Default styles                          */
/* --------------------------------------- */

*:focus {
    outline: 0 none!important;
}

body {
	visibility: hidden;
	@include eq-ui-transition(visibility);

	background-color: $eq-ui-body-bg;

	/* Fix for webkit rendering */
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	/* Fix for Firefox rendering */
	-moz-osx-font-smoothing: grayscale;
}

/*** List default ***/
ul li {
    list-style: none;
}

/*** Body lead ***/
.lead {
	font-size: $eq-ui-font-size-base + 4;
}

/*** Container ***/
@media (max-width: $container-large-desktop + $eq-ui-side-nav-width) {
	body.eq-ui-side-nav-visible .container {
    	width: auto;
	}
}

/*** Main ***/
body.eq-ui-side-nav-hide .eq-ui-main  {
    padding-left: 0;
}

.eq-ui-main {
	padding-left: $eq-ui-side-nav-width;
	@include eq-ui-transition(padding-left);

	@media (max-width: $screen-sm-min) {
		padding-left: 0;
	}

    /*** Scrollbar Y ***/
    &.eq-ui-scrollbar-y {
        &::-webkit-scrollbar {
            width: 8px;
        }
    }

    /*** Scrollbar X ***/
    &.eq-ui-scrollbar-x {
        &::-webkit-scrollbar {
            height: 8px;
        }
    }
}

/*** Z-levels ***/
.z-depth-0 {
  	box-shadow: none !important;
}
.z-depth-1{
  	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.z-depth-1-half{
  	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.z-depth-2{
  	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-3{
  	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-4{
  	box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.z-depth-5{
  	box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.hoverable:hover {
	@include eq-ui-transition(box-shadow);
	@extend .z-depth-2;
}

/*** Divider ***/
.divider {
	height: 1px;
	overflow: hidden;
	background-color: color("grey", "300");
}

/*** Blockquote ***/
blockquote {
    font-size: $eq-ui-font-size-base;
	margin: 20px 0;
    padding: 1em 1.5em 1em 1.5em;
	border-left: 5px solid $eq-ui-primary-color;

    footer {
        display: block;
        font-size: $eq-ui-font-size-base;
        line-height: $eq-ui-line-height-base;
        color: color("grey", "600");

        &:before {
            content: '\2014 \00A0';
        }
        cite {
            font-size: $eq-ui-font-size-base;
            line-height: $eq-ui-line-height-base;
            font-style: italic;
            color: color("grey", "600");
        }
    }
}

/*** Nav Toggle  ***/
.eq-ui-side-nav-toggle {
    cursor: pointer;
}

/*** Code  ***/
pre[class*="language-"] {
	position: relative;
    padding: 45px 35px 25px;
    border: solid 1px rgba(51, 51, 51, 0.12);
    font-size: .85rem;

    &:before {
	    position: absolute;
	    padding: 1px 5px;
	    background: #e8e6e3;
	    top: 0;
	    left: 0;
	    color: #555;
	    content: attr(class);
	    font-size: .9rem;
	    border: solid 1px rgba(51, 51, 51, 0.12);
	    border-top: none;
	    border-left: none;
	}
}
:not(pre)>code[class*=language-] {
    background: #e8e6e3;
}

/* --------------------------------------- */
/* Scrollbar Classes
/* --------------------------------------- */

/*** Scrollbar ***/
.eq-ui-scrollbar {
    &::-webkit-scrollbar-track {
        border-radius: 2px;
    }
    &::-webkit-scrollbar {
        background-color: #fafafa;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #c1c1c1;
        &:hover {
            background-color: #7d7d7d;
        }
    }
}

/*** Scrollbar Y ***/
.eq-ui-scrollbar-y {
    @extend .eq-ui-scrollbar;
    &::-webkit-scrollbar {
        width: 6px;
    }
}

/*** Scrollbar X ***/
.eq-ui-scrollbar-x {
    @extend .eq-ui-scrollbar;
    &::-webkit-scrollbar {
        height: 6px;
    }
}

/*** Scrollbar Wrap ***/
.eq-ui-scrollbar-wrap {
    position: relative;
    width: 100%;
    height: 100%;

    overflow-x: auto;
    overflow-y: auto;
    word-wrap: break-word;

    &.eq-ui-scrollbar-wrap-x {
        @extend .eq-ui-scrollbar-x;
        overflow-y: hidden;
    }

    &.eq-ui-scrollbar-wrap-y {
        @extend .eq-ui-scrollbar-y;
        overflow-x: hidden;
    }

    &.eq-ui-scrollbar-wrap-hide {
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}

/* --------------------------------------- */
/* Preloader
/* --------------------------------------- */

.eq-ui-progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: desaturate(lighten($progress-bar-color, 40%), 20%);
    border-radius: 2px;
    margin: 8px 0;
    overflow: hidden;

    .eq-ui-determinate {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: $progress-bar-color;
        transition: width .3s linear;
    }
}

/* --------------------------------------- */
/* Autocomplete
/* --------------------------------------- */

.autocomplete-suggestions {
    border: 1px solid #9b9b9b;
    background: #FFF;
    overflow: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    right: 0;
    left: 0;
    max-height: 288px !important;
    width: auto !important;

    @extend .eq-ui-scrollbar-y;

    // Suggestion
    .autocomplete-suggestion {
        padding: 0 16px;
        line-height: 48px;
        font-size: 16px;
        cursor: pointer;
        @extend .truncate;

        &.autocomplete-selected {
            background: #e1e1e1;
        }
    }

    strong {
        font-weight: 400;
        color: $eq-ui-secondary-color;
    }

    // Group
    .autocomplete-group {
        line-height: 47px;
        border-top: 1px solid #9b9b9b;

        &:first-child {
            border-top: none !important;
            line-height: 48px !important;
        }

        strong {
            padding: 0 16px;
            display: block;
            font-weight: 600;
            font-size: 14px;
            color: #9b9b9b;
        }
    }
}

/* --------------------------------------- */
/* Utility Classes
/* --------------------------------------- */

// Primary Color
.eq-ui-primary-color, .eq-ui-primary-color-hover:hover {
    background-color: $eq-ui-primary-color !important;
}
.eq-ui-primary-color-text, .eq-ui-primary-color-text-hover:hover {
    color: $eq-ui-primary-color !important;
}

// Secondary Color
.eq-ui-secondary-color, .eq-ui-secondary-color-hover:hover {
    background-color: $eq-ui-secondary-color !important;
}
.eq-ui-secondary-color-text, .eq-ui-secondary-color-text-hover:hover {
    color: $eq-ui-secondary-color !important;
}

.hide {
	display: none !important;
}

// Text Align
.left-align {
	text-align: left;
}
.right-align {
  	text-align: right
}
.center, .center-align {
  	text-align: center;
}

.left {
  	float: left !important;
}
.right {
  	float: right !important;
}

// valign-wrapper
.valign-wrapper {
    display: flex;
	flex-direction: row !important;
    align-items: center;
    .valign {
    	display: block;
    }
}

// No Text Select
.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.circle {
  	border-radius: 50%;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.truncate {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.no-padding {
	padding: 0 !important;
}

/* --------------------------------------- */
/* Utility Classes
/* --------------------------------------- */

@media (max-width: $screen-xs-min) {
    .eq-ui-hidden-xs {
        display: none !important;
    }
    .eq-ui-visible-xs-block {
        display: block !important;
    }
    .eq-ui-visible-xs-inline {
        display: inline !important;
    }
    .eq-ui-visible-xs-inline-block {
        display: inline-block !important;
    }
}
@media (max-width: $screen-sm-min) {
    .eq-ui-hidden-sm {
        display: none !important;
    }
    .eq-ui-visible-sm-block {
        display: block !important;
    }
    .eq-ui-visible-sm-inline {
        display: inline !important;
    }
    .eq-ui-visible-sm-inline-block {
        display: inline-block !important;
    }
}
@media (max-width: $screen-md-min) {
    .eq-ui-hidden-md {
        display: none !important;
    }
    .eq-ui-visible-md-block {
        display: block !important;
    }
    .eq-ui-visible-md-inline {
        display: inline !important;
    }
    .eq-ui-visible-md-inline-block {
        display: inline-block !important;
    }
}
@media (max-width: $screen-lg-min) {
    .eq-ui-hidden-lg {
        display: none !important;
    }
    .eq-ui-visible-lg-block {
        display: block !important;
    }
    .eq-ui-visible-lg-inline {
        display: inline !important;
    }
    .eq-ui-visible-lg-inline-block {
        display: inline-block !important;
    }
}